body{
    background-attachment: fixed;
    background-color: rgb(255, 254, 168);
}
.container{
    margin-top: 150px;
    margin-left: 250px;
    background-color: white;
   
    width: 800px;
    height: 600px;
}
.h1{
    background-color :rgb(253, 255, 255);
    color: black;
    width: max-content;    
    font-family: Arial, Helvetica, sans-serif;
    font-size:  medium;
    
}
.p{
   background-color:white;
   
   width: 500px;
   height: max-content;
   
   
   text-align: left;
   font-style: normal;
   color:black;
   float: left;
}
.img{
    position: relative;
    z-index: 1px;
    background-color:white;
    /* background-image: url("image/mg-8.jpg  ") ; */
    width: 200px;
    height: 250px;
    z-index: 1;
    border: 2px solid black;
    float: left;
}
 .text{
    margin-top: 40px;
    padding-bottom: 5px;
    position: absolute;
    z-index: 2;
    color: aliceblue;
    width: 90px;
    height: 160px;
    
} 
.list{
    margin-top: 20px;
    background-color:white;
    border: 2px solid white;
    width:150px;
    height: 150px;
    float:left;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}
table{
    /* position: relative; */
    z-index: 1px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: white;
    border: 1px solid black;
    width: 500px;
    height: 40px;
    float: left;
    
}
/* .th{
    z-index: 2px;
    position: absolute;
    background-color: black;
    width: 50px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
} */


.clearfix{
    clear: both;
}